.description {
    color: red;
    background-color: rgba(0, 255, 0, .5);
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: greenyellow
}

.animal-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}